<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex justify-center mt-10">
  <div class="w-full max-w-md bg-white shadow-lg rounded-xl p-6 space-y-5">
    <h2 class="text-xl font-semibold text-gray-700">Create User</h2>

    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-600">
        Name <span class="required">*</span>
      </label>

      <input
        type="text"
        formControlName="name"
        class="mt-1 border border-gray-300 rounded-lg px-3 py-2"
      />

      @if (name.invalid && (name.dirty || name.touched)) {
        @if (name.errors?.['minlength']) {
          <div class="required">Min letters: 3</div>
        }
        @if (name.errors?.['required']) {
          <div class="required">Name is required</div>
        }
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-600">
        Email <span class="required">*</span>
      </label>

      <input
        type="email"
        formControlName="email"
        class="mt-1 border border-gray-300 rounded-lg px-3 py-2"
      />

      @if (email.invalid && (email.dirty || email.touched)) {
        @if (email.errors?.['email']) {
          <div class="required">Invalid email</div>
        }
        @if (email.errors?.['required']) {
          <div class="required">Email is required</div>
        }
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-600"> Age <span class="required">*</span> </label>

      <input
        type="number"
        formControlName="age"
        class="mt-1 border border-gray-300 rounded-lg px-3 py-2"
      />

      @if (age.invalid && (age.dirty || age.touched)) {
        @if (age.errors?.['min']) {
          <div class="required">Invalid age</div>
        }
        @if (age.errors?.['required']) {
          <div class="required">Age is required</div>
        }
      }
    </div>

    <!-- BUTTON -->
    <button
      type="submit"
      [disabled]="userForm.invalid"
      class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition disabled:bg-gray-300 disabled:cursor-not-allowed"
    >
      Create
    </button>
  </div>
</form>
